aside {
  backdrop-filter: blur(4px);
  background-color:rgba(65, 23, 94, .5);
  width: min(75vw, 400px);
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100vw);
  z-index: 9999;

  h3 {
    font-size: 2em;
  }

  .navbar-nav-aside {
    .nav-link {
      color: rgb(206, 206, 206);
    }

    .active-header-link {
      color: white;
    }
  }
}