<aside class="aside-navbar-menu d-flex h-100 position-fixed" id="aside-navbar-menu" aria-hidden="true" appAside>
  <div class="navbar navbar-expanded-lg px-4 w-100">
    <div class="container-fluid d-flex flex-column align-items-center w-100 text-center">
      <div>
        <h3 class="text-light">Menu</h3>
      </div>
      <div>
        <ul class="navbar-nav navbar-nav-aside">
          <li class="nav-item mx-2">
            <a 
              href="/#about-section" 
              class="nav-link nav-link-aside"
              [appCurrentActive]="'about'"
            >About</a>
          </li>
          <li class="nav-item mx-2">
            <a 
              href="/#experience-section" 
              class="nav-link nav-link-aside"
              [appCurrentActive]="'experience'"
            >Experience</a>
          </li>
          <li class="nav-item mx-2">
            <a 
              href="/#projects-section" 
              class="nav-link nav-link-aside"
              [appCurrentActive]="'projects'"
            >Projects</a>
          </li>
          <li class="nav-item mx-2">
            <a 
              href="/#contact-section" 
              class="nav-link nav-link-aside"
              [appCurrentActive]="'contact'"
            >Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>