<div class="navbar-container">
  <div class="container">
    <nav class="navbar navbar-expanded-lg px-4">
      <div class="container-fluid d-flex">
        <div>
          <a class="navbar-brand text-light" href="/">ShadowBlack |</a>
        </div>
        <div>
          <ul class="navbar-nav navbar-nav-header">
            <li class="nav-item mx-2">
              <a 
                href="/#about-section" 
                class="nav-link nav-link-header" 
                [appCurrentActive]="'about'"
              >About</a>
            </li>
            <li class="nav-item mx-2">
              <a 
                href="/#experience-section" 
                class="nav-link nav-link-header" 
                [appCurrentActive]="'experience'"
              >Experience</a>
            </li>
            <li class="nav-item mx-2">
              <a 
                href="/#projects-section" 
                class="nav-link nav-link-header"
                [appCurrentActive]="'projects'"
              >Projects</a>
            </li>
            <li class="nav-item mx-2">
              <a 
                href="/#contact-section" 
                class="nav-link nav-link-header"
                [appCurrentActive]="'contact'"
              >Contact</a>
            </li>
            <li class="nav-item ham-menu-btn" role="button" appAside>
              <div class="ham-box">
                <div class="bar bg-light"></div>
                <div class="bar bg-light"></div>
                <div class="bar bg-light"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>