<div class="container col-xxl-8 px-4">
  <div class="row flex-lg-row-reverse g-5">
    <div class="col-lg-12">
      <div>
        <h2 class="display-5 fw-bold lh-1 mb-3 text-light">Experience</h2>
      </div>
      <div>
        <p class="lead ">
          I have been continuously coding for two years, both as a hobby and professionally, so I’m excited to share my experience below!
        </p>
      </div>
      <div class="row py-4">
        <div class="col-12 col-sm-6">
          <div>
            <p class="date">
              <b>
                <i>february 2023 - present</i>
              </b>
            </p>
          </div>
          <div>
            <p class="lead fs-5">Freelancer</p>
            <p class="text-light">
              Developing web, mobile, and desktop applications for individuals and businesses, including collaborations with companies such as PHU Agma Mysłowice and GodBud.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div>
            <p class="date">
              <b>
                <i>february 2025 - present</i>
              </b>
            </p>
          </div>
          <div>
            <p class="lead fs-5">Lowgular | Intership</p>
            <p class="text-light">
              Creating a mobile-first web application using Angular and NestJS technologies - Fullstack
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div>
            <p class="date">
              <b>
                <i>may 2023 - january 2024</i>
              </b>
            </p>
          </div>
          <div>
            <p class="lead fs-5">MMRC Sp. z o.o. / Żeltech Sp. z o.o. Żywiec</p>
            <p class="text-light">
              Backend programmer, creating extensive database queries using T-SQL. Creating the appearance of website applications using JavaScript
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div>
            <p class="date">
              <b>
                <i>september 2022 - september 2023</i>
              </b>
            </p>
          </div>
          <div>
            <p class="lead fs-5">PHU AGMA Mysłowice</p>
            <p class="text-light">
              Work as an intern and develop applications independently. Create desktop and mobile applications that streamline service documentation and improve communication between management and employees.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div>
            <p class="date">
              <b>
                <i>october - september 2021</i>
              </b>
            </p>
          </div>
          <div>
            <p class="lead fs-5">Erasmums +</p>
            <p class="text-light">
              Internships as part of the Erasmus+ project, design and creation of internet applications.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div>
        <h1 class="display-5 fw-bold lh-1 mb-3 text-light">Skills</h1>
      </div>
      <div>
        <p class="lead ">
          When developing applications, I personally handle both the backend and frontend, utilizing a variety of technologies such as...
        </p>
      </div>
      <div class="row py-4">
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/angular.svg" alt="angular" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>Angular</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/nestjs.svg" alt="nestjs" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>NestJS</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/nodejs.svg" alt="nodejs" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>NodeJS</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/electron.svg" alt="electron" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>Electron</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/ionic.svg" alt="ionic" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>Ionic</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/bootstrap.svg" alt="bootstrap" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>Bootstrap</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/tailwind.svg" alt="tailwind" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>Tailwind</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/javascript.svg" alt="javascript" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>JavaScript</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/typescript.svg" alt="typescript" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>TypeScript</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/postgresql.svg" alt="postgresql" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>PostgreSQL</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/firebase.svg" alt="firebase" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>Firebase</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3">
          <div class="d-flex flex-column items-center text-center">
            <div class="mb-2">
              <img src="./assets/skills/aws.svg" alt="aws" width="48">
            </div>
            <div class="mb-2">
              <p class="text-light" style="margin: 0; padding: 0;">
                <i>AWS</i>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>