@import '../../../../constants/variables.scss';

.about-container {
  min-height: 100vh;

  .lead,
  .subtitle-color {
    color: $second-color;
  }

  .btn-about:hover {
    color: $hover-color !important;
    border: 1px solid $hover-color !important;
    background-color: $second-color;
  }
}